*{
    margin: 0;
    padding: 0;
}
a,
button{
    outline: none;
    border: none;
    cursor: pointer;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*header block*/
.header{
    position: fixed;
    width: 96%;
    background: #3c3c3c;
    color: #ffffff;
    padding: 20px 2%;
}
.header__item{
    display: inline-block;
}
.header__item_logo{
    display: inline-block;
    padding: 5px;
    border-color: #fff;
    border-left: 1px solid;
    border-right: 2px solid;
    border-top: 1px solid;
    border-bottom: 2px solid;
    cursor: pointer;
}
.header__item_greeting{
    padding-left: 20px;
}
.header__item_exit{
    float: right;
    cursor: pointer;
}
.button{
    background:#2cc76a;
    color: #fff;
    border-radius: 2px;
}
.button:hover{
    background: #59de8e;
}
.button_type_login{
    padding: 5px 10px;
}
/*content block*/
.content{
    width: 100%;
    min-height: calc(100% - 47px);
}
.content_item{
    margin-top: 70px;
    vertical-align: top;
    display: inline-block;
}
.content_item__list{
    width: 55%;
    padding: 2%;
}
.content_item__new{
    width: 36%;
    padding: 2%;
}
.title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3c3c3c;
}
.textarea{
    width: 95%;
    height: 115px;
    border: 1px solid #8c8c8c;
    resize: none;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #8c8c8c;
    padding:10px;
    margin: 20px 0;
}
.button_type_submit{
    font-size: 18px;
    padding: 10px 20px;
}
.table{
    width: 100%;
    margin: 20px 0;
}
.table__td{
    text-align:left;
    vertical-align: middle;
    padding:10px;
    border: 1px solid #73766f;
    border-collapse: collapse;
    background: #fff;
}
.table__td:first-child{
    width: 66%;
}
.table__td:nth-child(2){
    text-align: center;
    width: 25%;
}
.table__td:nth-child(3){
    border: 0;
    width: 10%;
}
.table__td__item_delete{
    cursor: pointer;
    width: 30px;
    height: 31px;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAAAAAA6xUnlAAABbElEQVQoU53TLY+EMBAG4P116zCYTTA1VRUVk4q6qia1NQhQlfyBlSgUArsSub6mGNKbsl/AcsnlXjGZ8DTNUOgpvjI3IJdwc38/jKc3W1YusYZn/ttH3jTXJU1J3bffjR0f3WRFvfbgMVOvZTcFzOSVMn7JnPxWcM6lNqUGbLhQ2lqROk70jO5UVZa1c9VjvMq5+jmoph69tXVKVb/y6nDDgH41pT2OYsk709zGo7RKTujz3cf5IDH68Hz/wEHsAsXwOZ9JmX0UWbvBacwyk3kWvXd3a1HawVnbYKs3+2ujOlylTYiDEmMMRm1dsxarlOicjBE/wXY+Ra4xKOA+DuxyS345cI7eH7pceY4uZb71IjlLTg9cLi4Z+4tnyUXWr11cktPkJLn4j4tfXUDexhkoxfMrzni+ABsHKIwfKMtGvEa5mwYqzivH5awgBIAQTiXLKRWwdcEBZPrrQQLDIti5+3js62oX6x539AdFksteQhKp9QAAAABJRU5ErkJggg==);
}
.defaul-value{
    margin: 20px 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #8c8c8c;
}
/*footer block*/
.footer{
    background: #3c3c3c;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    font-size: 15px;
}
/*for popup login*/
.popUp{
    top:0;
    left:0;
    position:fixed;
    background:rgba(0,0,0, 0.8);
    width:100%;
    height:100%;
    z-index:10000;
    display: none;
}
.popUp__item{
    vertical-align: middle;
    font-size: 14px;
    position: relative;
    background: #fff;

    padding: 25px;
    margin: auto;
    box-shadow: 0px 0px 20px #000;
    border-radius: 3px;
}
.textfield{
    height: 42px;
    width: 320px;
    border: 1px solid #8c8c8c;
    outline: none;
    font-size: 16px;
    font-family: ProximaNovaLight;
    font-weight: lighter;
    color: #8c8c8c;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.title_for_sign_in{
    margin-bottom: 10px;
}
.or{
    display: inline-block;
    padding:0 20px;
}
.popUp__item__block_left{
    width: 380px;
    text-align: center;
    display: inline-block;
}
.popUp__item__block_right{
    display: inline-block;
}
.error{
    border: 1px solid #ff6f6f;
    background: #fff3f3;
    color: #ff6f6f;
    padding: 10px;
    margin: 10px 0;
}